In [2]:
#DataFrames : 2 dimensional ,tabular like structure with hetrogenously typed columns

In [3]:

import pandas as pd

In [4]:
import numpy as np

In [5]:
#random.rand = It is used to generate some random numbers[0,1](5,4) 5 rows, 4 columns

In [6]:

a = np.random.rand(5,4)

In [7]:
a

array([[0.0654746 , 0.89722206, 0.50609392, 0.57413558],
       [0.76034429, 0.81129353, 0.12129176, 0.32398151],
       [0.03018769, 0.69837918, 0.39098308, 0.35914984],
       [0.02684479, 0.46046187, 0.05043861, 0.12342585],
       [0.49159781, 0.61381013, 0.25327696, 0.66649204]])

In [8]:
'A B C D E'.split()

['A', 'B', 'C', 'D', 'E']

In [10]:
df=pd.DataFrame(np.random.rand(5,4),index = ['A', 'B', 'C', 'D', 'E'],columns='W X Y Z'.split())

In [11]:
df

          W         X         Y         Z
A  0.885140  0.616803  0.606396  0.377744
B  0.500320  0.513578  0.194684  0.978776
C  0.510484  0.687496  0.683087  0.644927
D  0.827477  0.580341  0.680484  0.674001
E  0.226833  0.741021  0.138962  0.221974

In [12]:
#Some important functions of DataFrames.

In [13]:
#info() -- It is used to provide information about the dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, A to E
Data columns (total 4 columns):
W    5 non-null float64
X    5 non-null float64
Y    5 non-null float64
Z    5 non-null float64
dtypes: float64(4)
memory usage: 200.0+ bytes

In [14]:
#To rename the label (column name)
df.rename(columns={"W" : "f"},inplace=True)
#It is used to make changes permanent

In [15]:
df.rename(index = {"A":"a","B" : 1},inplace=True)

In [16]:
df

          f         X         Y         Z
a  0.885140  0.616803  0.606396  0.377744
1  0.500320  0.513578  0.194684  0.978776
C  0.510484  0.687496  0.683087  0.644927
D  0.827477  0.580341  0.680484  0.674001
E  0.226833  0.741021  0.138962  0.221974

In [17]:
df.describe() #Returns Descriptive Statistics of DataFrame

              f         X         Y         Z
count  5.000000  5.000000  5.000000  5.000000
mean   0.590051  0.627848  0.460722  0.579484
std    0.269146  0.089166  0.270771  0.292046
min    0.226833  0.513578  0.138962  0.221974
25%    0.500320  0.580341  0.194684  0.377744
50%    0.510484  0.616803  0.606396  0.644927
75%    0.827477  0.687496  0.680484  0.674001
max    0.885140  0.741021  0.683087  0.978776

In [18]:
df

          f         X         Y         Z
a  0.885140  0.616803  0.606396  0.377744
1  0.500320  0.513578  0.194684  0.978776
C  0.510484  0.687496  0.683087  0.644927
D  0.827477  0.580341  0.680484  0.674001
E  0.226833  0.741021  0.138962  0.221974

In [19]:
#To fetch a column
df["X"]

a    0.616803
1    0.513578
C    0.687496
D    0.580341
E    0.741021
Name: X, dtype: float64

In [20]:
#I want list of columns?
df[["X","Y","Z"]]

          X         Y         Z
a  0.616803  0.606396  0.377744
1  0.513578  0.194684  0.978776
C  0.687496  0.683087  0.644927
D  0.580341  0.680484  0.674001
E  0.741021  0.138962  0.221974

In [21]:
df.columns

Index(['f', 'X', 'Y', 'Z'], dtype='object')

In [22]:
#Drop a column , Always remeber to assign value to axis , axis = 1 #ro in pandas 
df.drop("X", axis=1,inplace=True)

In [23]:
df

          f         Y         Z
a  0.885140  0.606396  0.377744
1  0.500320  0.194684  0.978776
C  0.510484  0.683087  0.644927
D  0.827477  0.680484  0.674001
E  0.226833  0.138962  0.221974

In [24]:
#To drop a row
df.drop("C")

          f         Y         Z
a  0.885140  0.606396  0.377744
1  0.500320  0.194684  0.978776
D  0.827477  0.680484  0.674001
E  0.226833  0.138962  0.221974

In [25]:
df1 = pd.DataFrame(np.random.rand(5,4),index = ['A', 'B', 'C', 'D', 'E'],columns='W X Y Z'.split())

In [26]:
df1

          W         X         Y         Z
A  0.134322  0.050151  0.525759  0.181101
B  0.782864  0.674552  0.707546  0.124866
C  0.854015  0.485875  0.432141  0.965629
D  0.057224  0.163039  0.109409  0.675577
E  0.722905  0.075782  0.590863  0.975584

In [28]:
#Selecting Rows
#loc helps us to get rows with particular labels from the dataframe.

In [29]:
df1.loc["A":"D"] #upper bound included

          W         X         Y         Z
A  0.134322  0.050151  0.525759  0.181101
B  0.782864  0.674552  0.707546  0.124866
C  0.854015  0.485875  0.432141  0.965629
D  0.057224  0.163039  0.109409  0.675577

In [30]:
df1.loc["A":"D","Y"] #[Rows,columns]

A    0.525759
B    0.707546
C    0.432141
D    0.109409
Name: Y, dtype: float64

In [31]:

df1.loc["A"]["X"] #To access a particular value across corresponding labels,.

0.05015058170880449

In [33]:
df1.loc["A":"C","W":"Y"]

          W         X         Y
A  0.134322  0.050151  0.525759
B  0.782864  0.674552  0.707546
C  0.854015  0.485875  0.432141

In [34]:
df1.loc["A":"C","W":]

          W         X         Y         Z
A  0.134322  0.050151  0.525759  0.181101
B  0.782864  0.674552  0.707546  0.124866
C  0.854015  0.485875  0.432141  0.965629

In [35]:
df1.loc[:,"W":"Y"]

          W         X         Y
A  0.134322  0.050151  0.525759
B  0.782864  0.674552  0.707546
C  0.854015  0.485875  0.432141
D  0.057224  0.163039  0.109409
E  0.722905  0.075782  0.590863

In [36]:
df1

          W         X         Y         Z
A  0.134322  0.050151  0.525759  0.181101
B  0.782864  0.674552  0.707546  0.124866
C  0.854015  0.485875  0.432141  0.965629
D  0.057224  0.163039  0.109409  0.675577
E  0.722905  0.075782  0.590863  0.975584

In [37]:
#Suppose kro ki dataframe me 25000 rows and 1500 columns hai,
#ao ab agr aapko 10k s 14k rows and 5000 s 9650th column ka data fetch krna h
#To remove this problem we have iloc , iloc me hum label na pass krke default index value of python pass krte h

In [38]:
df1.iloc[0:3,1:3]

          X         Y
A  0.050151  0.525759
B  0.674552  0.707546
C  0.485875  0.432141