In [1]:
#Data Analysis using Python--Pandas 
#Pandas is an open source Python library which provides high performance, easy to use data structure and data analysics tools for Python programming language.
#To import Pandas using import keyword
import pandas as pd

In [2]:
#To check version
print(pd.__version__)

0.25.1

In [3]:
#Pandas Datastructure: 1.Series 2. Dataframe
#To create series
names = ["Thakur","Saini","Rai","Gupta"]
name = pd.Series(names,index = ["a","b","c","d"])
name

a    Thakur
b     Saini
c       Rai
d     Gupta
dtype: object

In [4]:
type(name)

pandas.core.series.Series

In [5]:
#Dictionary
d={ "Chicago" : 1000,"Newyork": 2000,"Boston":3000,"Austin":4000}
d

{'Chicago': 1000, 'Newyork': 2000, 'Boston': 3000, 'Austin': 4000}

In [6]:
s1=pd.Series(d)
s1

Chicago    1000
Newyork    2000
Boston     3000
Austin     4000
dtype: int64

In [7]:
s1["Chicago"]

1000

In [8]:
s1.index

Index(['Chicago', 'Newyork', 'Boston', 'Austin'], dtype='object')

In [9]:
s1

Chicago    1000
Newyork    2000
Boston     3000
Austin     4000
dtype: int64

In [10]:
#To change the value of particular index:
s1["Chicago"]=1400

In [11]:
s1["San Jose"]=1200
s1

Chicago     1400
Newyork     2000
Boston      3000
Austin      4000
San Jose    1200
dtype: int64

In [12]:
s1[3]

4000

In [13]:
#When apply certain condition(on index)it will give output in boolean
s1<1500

Chicago      True
Newyork     False
Boston      False
Austin      False
San Jose     True
dtype: bool

In [14]:
#Upper Bound always excluded during slicing:
s1[1:5]

Newyork     2000
Boston      3000
Austin      4000
San Jose    1200
dtype: int64

In [15]:
# isna() function is used to null values: It also give result in boolean
s1.isna()

Chicago     False
Newyork     False
Boston      False
Austin      False
San Jose    False
dtype: bool